CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
cmake-build-debug
tags
.idea/

lib/liblogger.a
lib/libredis.a
lib/libjsonreader.a
lib/libasynclogger.a
lib/libtinymysql.a
lib/libwnetwork.a
lib/libwtimer.a
lib/libwdebug.a
lib/libwlb.a    
lib/libwutils.a

.vscode/
build/*
.cmake/
build.ninja
*.exe
*.pdb
/out/build/x64-Debug
/.vs/utils
/.vs
*.pem
demo/bin/
*.log
*.cbp
.VSCodeCounter
out
test/google_test_run
