CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
cmake-build-debug
.idea/

lib/liblogger.a
lib/libredis.a
lib/libjsonreader.a
lib/libasynclogger.a
lib/libtinymysql.a
lib/libwnetwork.a
lib/libwtimer.a
lib/libwdebug.a

.vscode/settings.json
build/*
.cmake/
build.ninja
